@font-face {
    font-family: "HyperSpace";
    src: url("Hyperspace.otf");
}

* {
    font-family: HyperSpace;
    color: white;
    font-size: 42px;
}

body {
    background-image: url("stars.jpg");
    background-size: 50%;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 3vw;
    margin-right: 3vw;
}

#gameDescription {
    display: block;
    max-width: 35%;
    text-align: justify;
}

#leaderBoard {
    max-width: 55%;
}

table {
    width: 100%;
}

tr {
    margin-left: 1vw;
    margin-right: 1vw;
}

.posTD {
    text-align: left;
    width: max-content;
}

.nameTD {
    width: 45%;
    word-break: break-all;
}

.ptsTD {
    text-align: center;
    width: max-content;
}

.dateTD {
    text-align: right;
    width: max-content;
    word-break: break-all;

}

table,
thead,
tbody,
td,
tr,
th {
    text-align: center;
    vertical-align: middle;
}

@media all and (max-width: 601px) {

    html,
    body {
        overflow-x: hidden;
    }

    * {
        font-size: 26px;
    }

    #container {
        flex-direction: column;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    #gameDescription {
        display: block;
        max-width: 94vw;
    }

    #leaderBoard {
        max-width: 94vw;
    }

    .dateTD {
        display: none;
    }
    .ptsTD {
        text-align: right;
    }
    table,
    thead,
    tbody,
    td,
    tr,
    th {
        padding: 0;
        margin: 0;
        line-height: 1.5;
    }
}